<div>
    <div class="row">
        <div class="col-lg-5 d-row">
            <div class="container profile img-container">
                <img src="{{ user.avatar_url }}" alt="msm" />
            </div>
            <div class="profile shadow">
                <div class="infor name">
                    <h5>{{ user.name }}</h5>
                </div>
                <p>{{ user.bio }}</p>

                <p>Joined on: {{ user.created_at | date: "mediumDate" }}</p>
                <div class="d-flex">
                    <p class="follow">
                        Following: <span>{{ user.following }}</span>
                    </p>

                    <p class="follow">
                        Followers: <span> {{ user.followers }}</span>
                    </p>
                </div>
                <a name="" id="" class="btn btn-primary" href="{{ user.url }}" role="button">Github Profile</a
        >
      </div>
    </div>
    <div class="col-lg-7"></div>
  </div>
  <div class="container" *ngFor="let repInfor of repositoryDetails">
    <div appHighlight class="repo rounded shadow">
      <a class="name" href="{{ repInfor.html_url }}" target="_blank">{{
        repInfor.html_url
      }}</a>
                <p class="description">{{ repInfor.description }}</p>
                <p class="description">{{ repInfor.created_at | date: "mediumDate" }}</p>

                <p>
                    <a name="" id="" class="btn btn-primary" href="{{ repInfor.name }}" role="button">View Repository</a
        >
      </p>
    </div>
  </div>
</div>