img {
    margin-top: 3vw;
    width: 20vw;
    border-radius: 20%;
}

p {
    font-size: 1.1vw;
}

.col-infor {
    margin-top: 3vw;
}

.profile {
    display: flex;
    flex-direction: column;
    padding-left: 8vw;
    margin-left: 2vw;
    padding-top: 2vw;
}

.name {
    color: rgb(62, 230, 230) !important;
    font-weight: bold;
    font-size: 1.6vw !important;
}

.follow {
    padding-right: 1.3vw;
}

a {
    text-decoration: none;
}

.title {
    color: rgb(28, 28, 236);
    font-weight: bold;
}

.btn {
    width: 15vw;
    margin-bottom: 2vw;
    background-color: rgb(28, 28, 236);
}

.d-flex span {
    color: rgb(28, 28, 236);
}

.repo {
    height: auto;
    padding: 2vw;
    margin-top: 2vw;
}

.name:hover {
    color: pink;
}

.name {
    color: rgb(62, 230, 230) !important;
    font-size: 1.5vw;
    font-weight: bold;
}

.btn {
    background-color: transparent;
    border: rgb(28, 28, 236) solid 1px;
    color: rgb(28, 28, 236);
    font-size: bold;
}

.description {
    font-size: 1.1vw;
}