.repo {
    height: auto;
    padding: 2vw;
    margin-top: 2vw;
}

a {
    text-decoration: none;
}

.name {
    color: rgb(62, 230, 230) !important;
    font-size: 1.3vw;
    font-weight: bold;
}

.btn {
    background-color: transparent;
    border: rgb(62, 230, 230) solid 1px;
    color: rgb(245, 17, 17);
}